.nav .nav-item .nav-link:focus,
.nav .nav-item .nav-link:hover {
    color: #000000;
}

.nav {
    margin: 20px;
    font-size: 25px;
    margin-bottom: 50px;
}

.home-bottom {
    margin: 30px;
}

.btn-light {
    margin: 20px;
    font-size: 20px;
}

.card {
    margin: 20px;
}

.card-text {
    color: #000000;
}

.card-text:hover {
    text-decoration: none;
}

.btn-outline-info {
    margin: 5px;
}