.nav .nav-item .nav-link:focus,
.nav .nav-item .nav-link:hover {
    color: #000000;
}

.top-nav {
    margin: 20px;
	margin-bottom: 0px;
}

ul.social-icons>li {
	margin: 10px;
	margin-bottom: 30px;
}

a.active {
	color:black;
}

.home-bottom {
    margin: 30px;
}

.btn-light {
    margin: 20px;
    font-size: 20px;
}


ul.btn-group-horizontal>li {
	margin-left: 50px;
}

ul.btn-group-horizontal>li>h6>a {
	color: black;
}
	
ul.btn-group-vertical>li>h6>a {
	color: black;
}

.card {
    margin: 20px;
}

.card-deck {
    margin-bottom: 20px;
}

.card-text {
    color: #000000;
}

.card-text:hover {
    text-decoration: none;
}

.btn-outline-info {
    margin: 5px;
}

.archive-item {
	color: gray;
	margin: 0px;
	font-size: 12px;
	font-weight: bold;
}

h6, h4 {
    color: #007bff;
}

h3 {
    margin-top: 5 px;
}

.card-hidden {
    border: none;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

@media screen and (max-width: 900px) {
	.nav {
		margin: 5px;
		margin-bottom: 5px;		
    }
	.btn-light {
		margin: 5px;
		font-size: 15px;
		padding: 0px;
	}
	.rounded-circle{
		width: 50%;
		
	}
	body > div > div.row-sm-6 > ul > li > h6 > a {
		margin: 0px;	
		font-size: 12px;
	}
	body > div > div.row-sm-6 > ul > li {
		margin: 5px;
	}
	h1{
		font-size: 30px;
	}
	
	h3 {
		font-size: 20px;
	}
	
	body > div > div.row.justify-content-center > div.col-sm-6.col-md-6.col-lg-6 > ul {
		margin: 50px;
	}

}
